<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<title>Blog Project</title>
    <div th:replace="/fragments/styling :: head-style" ></div>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="../../webjars/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	    <link href="../../css/standard.css" rel="stylesheet">
	</div>
</head>
<body>
	<div th:replace="/fragments/styling :: body-links" ></div>
		<script src="../../webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="../../webjars/jquery/1.9.1/jquery.min.js"></script>
    </div>

	<body>
		<div class="container">
			<div th:replace="./fragments/navbar :: navbar"></div>
			
			<h1>Welcome to Project MockingBird</h1>
			<a class="btn btn-primary btn-lg" th:href="@{/register}">Register</a>
			<a class="btn btn-info btn-lg" th:href="@{/login}">Login</a>	
			<img alt="mockingbird logo" height="200px" width="200px" src="/images/mockingbirdlogo.png"></img>
			<h3>Post pictures, communicate with friends, organize events,
        		write to your bestie and sauce all on them(too much sauce - DJ Esco)</h3>
        	<h1>Create a account today! (P.S. It's Free! :")</h1>
		</div>
	</body>
</html>